# Plik: .dockerignore

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Katalogi z buildami (różne dla różnych frameworków)
build/
.next/
.output/
dist/

# Pliki środowiskowe
.env
.env.local

# Pliki systemowe i IDE
.git
.vscode
.idea